{% extends "base/page.html" %}
{% block content %}
<form class="form-horizontal" action="{% url register %}" method="post">
    <fieldset>
    <div id="legend">
      <legend class="">Register</legend>
    </div>
    {# Include the hidden fields in the form #}
    {% for hidden in form.hidden_fields %}
       {{ hidden }}
    {% endfor %}

    {% if form.non_field_errors %}
    <div class="alert alert-error">
      {% for err in form.non_field_errors %}
      <a class="close" data-dismiss="alert" href="#">×</a>{{ err }}
      {% endfor %}
    </div>  
    {% endif %}

    {% csrf_token %}

    {% for field in form.visible_fields %}
      <div class="control-group {% if field.errors %}error{% endif %}">
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        <div class="controls">
            {{ field }}
            {% for err in field.errors %}
                <p class="help-block">{{ err }}</p>
            {% endfor %}
        </div>
      </div>
    {% endfor %}

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-primary">Register</button>
      </div>
    </div>
  </fieldset>
  </form>
<hr>
{% endblock %}