{% extends "base/page.html" %}
{% load i18n %}

{% block content %}

{% include "block/messages.html" %}

<!-- Jumbotron -->
{% if main_post %}
  {% for post in main_post %}
  <div class="jumbotron">
    <h1>{{post.name}}</h1>
    <p class="lead">{{post.description}}</p>
    <a class="btn btn-large btn-success" href="{%url post_detail post.id%}">{% trans "Read More" %}</a>
  </div>
  {% endfor %}
{% endif %}

<hr>

<!-- Example row of columns -->
{% if latest_posts %}
<div class="row-fluid">
  {% for post in latest_posts %}
    <div class="span4">
      <h2>{{post.name}}</h2>
      <p>{{post.description}}</p>
      <p><a class="btn" href="{%url post_detail post.id%}">{% trans "View details" %} &raquo;</a></p>
    </div>
  {% endfor %}
</div>
{% endif %}

<hr>
{% endblock %}