{% extends "base/page.html" %}
{% load i18n %}


{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
  <h1>{{main_post.name}}</h1>
  <p class="lead">{{main_post.description}}</p>
  <a class="btn btn-large btn-success" href="/post/{{main_post.id}}/">{% trans "Read More" %}</a>
</div>

<hr>

<!-- Example row of columns -->
<div class="row-fluid">
  {% for post in latest_posts %}
    <div class="span4">
      <h2>{{post.name}}</h2>
      <p>{{post.description}}</p>
      <p><a class="btn" href="/post/{{post.id}}/">{% trans "View details" %} &raquo;</a></p>
    </div>
  {% endfor %}
</div>

<hr>
{% endblock %}