{% extends "base/page.html" %}
{% load i18n %}
{% load app_tags %}

{% block content %}
  <div class="post">
      <h1 class="text-center">{{post.name}}</h1>
      <p class="text-right post-date">03 Mar 2013</p>
      <br/>
      {% if post.image %}
      <img class="pimg" src="{{ MEDIA_URL }}{{post.image}}" width="200" heigth=""/>
      {% endif %}
      <p class="">{% autoescape off %}{{post.content}}{% endautoescape %}</p>  
  </div>
  <hr/>
  

  <div class="comments">
  {% if comments %}
  <h4><i class="icon-comment"></i>  {{ comments.count }} Comment</h4>
  <br/>
  {% endif %}
  {% for comment in comments %}
    <div class="comment">
      <div class="avatar">
        <img src="http://www.gravatar.com/avatar/{{ comment.email|md5 }}" />
      </div>
      <div class="content">
        <p><span><b>{{ comment.fullname }}</b></span>
        <br/>
        <span><small>{{ comment.created_at|date:'Y-m-d H:i' }}</small></span>
        </p>
        <p>{{ comment.content }}</p>
      </div>
    </div>
  {% endfor %}
  </div>

  {% url add_comment as action%}
  {% include "block/form.html" with action=action legend="Write Comment" submit="Send Comment" %}
  <hr>
{% endblock %}