{% load i18n %}
{% load app_tags %}

<div class="comment">
  <div class="avatar">
    <img src="http://www.gravatar.com/avatar/{{ comment.email|md5 }}" />
  </div>
  <div class="content">
    <div>
      <span><b>{{ comment.fullname }}</b></span>
      <span style="float: right">
        <a class="reply" data-id="{{ comment.id }}" href="#"><small>Reply</small></a>
      </span>
      <br/>
      <span><small>{{ comment.created_at|date:'Y-m-d H:i' }}</small></span>
    </div>
    <p>{{ comment.content|safe }}</p>
  </div>
</div>

{%if comment.id|get_replies %}
    {%for c in comment.id|get_replies %}
        {%with comment=c template_name="block/comment.html" %}
            <div class="reply">{%include template_name%}</div>
        {%endwith%}
    {%endfor%}
{%endif%}