{% load i18n %}
{% load app_tags %}

<form class="form-horizontal" action="{{ action }}" method="post" 
      {% if form.is_multipart or is_multipart %}enctype="multipart/form-data"{% endif %}>
    <fieldset>
    <div id="legend">
      <a name="form_{{form|get_hash}}"></a>
      <legend class="">{% trans legend %}</legend>
    </div>

      {% include "block/messages.html" %}

      {% include "block/form_fields.html" %}
      {% if form2 %}
        {% include "block/form_fields.html" with form=form2 %}
      {% endif %}

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-primary">{% trans submit %}</button>
      </div>
    </div>
  </fieldset>
</form>