{% load i18n %}

<ul class="nav nav-list"> 
    <li class="nav-header">{% trans "Admin Menu" %}</li>        
    <li><a href="{% url account_home %}"><i class="icon-home"></i> {% trans "Dashboard" %}</a></li>
    <li><a href="{% url update_profile %}"><i class="icon-user"></i> {% trans "Update Profile" %}</a></li>
    <li><a href="{% url password_change %}"><i class="icon-lock"></i> {% trans "Change Password" %}</a></li>
    <li><a href="{% url change_email %}"><i class="icon-envelope"></i> {% trans "Change Email" %}</a></li>
    <li class="divider"></li>
    <li><a href="{% url my_posts %}"><i class="icon-book"></i> {% trans "My Posts" %}</a></li>
    <li><a href="{% url create_post %}"><i class="icon-file"></i> {% trans "Create Post" %}</a></li>
    <li class="divider"></li>
    <li><a href="{% url logout %}"><i class="icon-off"></i> {% trans "Logout" %}</a></li>
</ul>